@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear; 
}

.dark-theme{
    --primary-color: #ffffff ;
    --secondary-color:#212121;
}
html{
    font-size: 62.5%;
    overflow-x:hidden ;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
body{
    background: var(--secondary-color);
}
section{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    color: black;
}

.heading span{
position: relative;
z-index: 0;
}

.heading span::before{
content: '';
position: absolute;
bottom: 1rem ;left: 0;
height: 100%;
width: 100%;
z-index: -1;
background: rgb(252, 13, 13);
clip-path: polygon(0 90%, 100% 80%, 100% 100%,0% 100%);


}


.btn{
    display: inline-block;
    margin: 1rem;
    border-radius: .5rem;
    background: lightblue;
    color: black;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
.btn:hover{
    background: red;

}
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
}
.header .logo{
    font-size: 2.5rem;
    color: rgb(3, 3, 95);
    font-weight: bolder;
}
.header .logo span{
    color: red;


}
.header{
    background-color: var(--secondary-color);
}
.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color: black;
}
.header .navbar a:hover{
    color: rgb(221, 8, 8);

}
.header .btn{
    margin-top: 0;

}
.header #login-btn i{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;

}
#menu-btn{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;

}


.header.active{
    box-shadow: var(--box-shadow);
    padding:2rem 9%;
}


.login-form-container{
    position: fixed;
    top: -105%; left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(255, 255,255,.9 );
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

}
.login-form-container.active{
    top: 0;
    opacity: 1;
}

.login-form-container form{
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
    border: var(--border);
    text-align:center;
    width: 40rem;
}

.login-form-container form .buttons{
    display: flex;
    align-items: center;
    gap: 1rem;

}
.login-form-container form .btn{
    display: block;
    width: 100%;
    margin: .5rem 0;
}

.login-form-container form h3{
    color: #130f40;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.login-form-container form .box{
    margin: .7rem 0;
    width: 100%;
    text-transform: none;
    color: #130f40;
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border: var(--border);
    border-radius: .5rem;
}

.login-form-container form p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: rgb(3, 6, 146);
}
.login-form-container form p a{
    color: rgb(36, 176, 201);
    text-decoration: underline;
}


.login-form-container #close-login-form{
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 5rem;
    color: black;
    cursor: pointer;
}

.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.home h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    color: #12093d;
    margin: 3rem 0;
}
.home img{
    width: 100%;
    margin: 1rem 0;
}

.icons-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
    background: var(--secondary-color) ;

}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background: #fff;
    box-shadow: #12093d;
    border-radius: .5rem;
}
.icons-container .icons i{
    height: 5.5rem;
    width: 5.5rem;
    line-height: 5.5rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: #eee;
    color: grey;
    text-align: center;
}
.icons-container .icons .content h3{
    color: rgb(33, 101, 189);
    font-size: 2.5rem;
}
.icons-container .icons .content p{
    color:var(--light-color);
    font-size: 1.5rem;
}
.icons-container .icons:hover{
    background: var(--black);
}
.icons-container .icons:hover i{
    color: rgb(36, 176, 201);
}

.icons-container .icons:hover .content h3{
    caret-color:#fff;
}
.icons-container .icons:hover .content p{
    caret-color: #eee;
}

.vehicles .vehicles-slider{
    padding-bottom: 5rem;
}
.vehicles .vehicles-slider .box{
    text-align: center;
   
}
.vehicles .vehicles-slider .box img{
  width: 100%;
  opacity: .5;
  transform:scale(.8);
}
.vehicles .vehicles-slider .box .content{
    transform: scale(0);
    padding-top: 1rem;

}

.vehicles .vehicles-slider .swiper-slide-active img{
  opacity: 1;
  transform:scale(1);
     
}

.vehicles .vehicles-slider .swiper-slide-active .content{
    transform: scale(1);

}

.vehicles .vehicles-slider .box .content h3{
    font-size: 2.5rem;
    color: black;
}

.vehicles .vehicles-slider .box .content{
    font-size: 2rem;
    color: black;
}
.vehicles .vehicles-slider .box .content .price{
    font-size: 2.5rem;
    color: red;
    padding: 1rem 0;
    font-weight: bolder;
}

.vehicles .vehicles-slider .box .content .price span{
    font-size: 1.7rem;
    color: var(--light-color);
    font-weight: normal;
}

.vehicles .vehicles-slider .box .content  p{
    font-size: 1.3rem;
    padding: 1rem;
    padding-top: 1.5rem;
    border-top: var(--border);
    color: var(--light-color);

}
.vehicles .vehicles-slider .box .content  p span{
    color: rgb(26, 3, 112)d;
    font-size: .8rem;
    padding: 0 .5rem;

}

.swiper-pagination-bullet-active{
    background: lightslategray ;
}

.services .box-cpntrainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}

.services .box-cpntrainer .box{
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.services .box-cpntrainer .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: lightgray;
    background: rgb(3, 6, 146);
    border-radius: 50%;
    margin-bottom: 1rem;

}

.services .box-cpntrainer .box h3{
    color: black;
    font-size: 2.2rem;
}

.services .box-cpntrainer .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 1.8;

}

.services .box-cpntrainer .box:hover{
    background: #130f40;
}

.services .box-cpntrainer .box:hover h3{
color: #fff;
}

.services .box-cpntrainer .box:hover p{
    color: #eee;
    }

.featured .featured-slider{
padding: 1rem;
padding-bottom: 4rem;
}

.featured .featured-slider  .box{
    text-align: center;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
}

.featured .featured-slider .box .img{
    height: 15rem; 
}

.featured .featured-slider .box:hover .img{
    transform: scale(.9);
}
.featured  .featured-slider .box h3{
    font-size: 2.2rem;
    color: black;
}

.featured .featured-slider .box .stars {
    padding: 1rem 0;
}

.featured .featured-slider .box .stars  i{
    font-size: 1.7rem;
    color: var(red);
}

.featured .featured-slider .box .price {
    font-size: 2.5rem;
    color: var(--black);
}

.newsletter{
    padding:6rem 2rem;
    background: url(../image/letter-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.newsletter h3{
    font-size: 3rem;
    color:rgb(54, 33, 175);
}

.newsletter p{
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.newsletter form{
    max-width: 60rem;
    height:5rem;
    background:#fff;
    border-radius: 5rem;
    overflow:hidden;
    display: flex;
    margin:1rem auto;
    box-shadow: var(--box-shadow);
}

.newsletter form input[type="email"]{
    height: 100%;
    width:100%;
    padding:0 2rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.newsletter form input[type="submit"]{
    height: 100%;
    width:17rem;
    font-size: 1.7rem;
    color:var(--black);
    background: lightblue;
    cursor: pointer;
}

.newsletter form input[type="submit"]:hover{
    background: red;
}

.reviews .review-slider{
    padding-bottom: 3rem;
}

.reviews .review-slider .box{
    text-align: center;
    padding:2rem;
    margin: 2rem 0;
    opacity: .4;
    transform: scale(.9);
}

.reviews .review-slider .swiper-slide-active{
    opacity: 1;
    transform: scale(1);
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}

.reviews .review-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .review-slider .box .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
}

.reviews .review-slider .box .content h3{
    color:var(--black);
    font-size: 2.2rem;
    padding-bottom: .5rem;
}

.reviews .review-slider .box .content .stars i{
    color:var(--yellow);
    font-size: 1.7rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row .map{
    flex:1 1 42rem;
    width: 100%;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}

.contact .row form{
    padding:2rem;
    flex:1 1 42rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    border-radius: .5rem;
}

.contact .row form h3{
    font-size: 3rem;
    color:var(--black);
    padding-bottom: 1rem;
}

.contact .row form .box{
    width:100%;
    border-radius: .5rem;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    text-transform: none;
    border:var(--border);
    margin:.7rem 0;
}

.contact .row form textarea{
    height:15rem;
    resize: none;
}


/* ----- footer----- */


.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    background: var(--secondary-color) ;

  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 3rem;
  }
  
  .footer__addr h2{
    margin-top: 1.3em;
    font-size: 2rem;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 500;
    font-size: 1.7rem;
  }
  
  .footer address {
    margin-top: 1.3em;
    font-style: normal;
    color: #999;
    font-size: 1.2rem;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1.2rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    margin-top: 1.3em;
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
    font-size: 1.2rem;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
    font-size: 1.2rem;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

/* In Dark Mood */
#icon{
    cursor: pointer;
    width: 35px;
    height: 35px;
}


  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }





/*media queries*/
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    .header.active{
        padding:2rem;
    }
    section{
        padding: 2rem;
    }

    
}
@media(max-width:768px){
    #menu-btn{
        display: block;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    .header #login-btn i{
    display: block;
    }
    .header #login-btn .btn{
        display: none;
        }
        .header .navbar{
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: #fff;
            border-top: var(--border);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
        .header .navbar.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
        .header .navbar a{
            display: block;
            margin: 2rem;
            font-size: 2rem;
        }
 }

@media(max-width:450px){
    html{
        font-size: 50%;
        
    }

    .heading{
        font-size: 3rem;
    }
}

